<!--Header-->
<h1 class="ui header">Roster</h1>
<!--Menu-->
<div class="ui secondary pointing menu">
    <a class="item" routerLink="/roster/2011" [ngClass]="{'active': year === 2011}">2011</a>
    <a class="item" routerLink="/roster/2013" [ngClass]="{'active': year === 2013}">2013</a>
    <a class="item" routerLink="/roster/2014" [ngClass]="{'active': year === 2014}">2014</a>
    <a class="item" routerLink="/roster/2015" [ngClass]="{'active': year === 2015}">2015</a>
    <a class="item" routerLink="/roster/2016" [ngClass]="{'active': year === 2016}">2016</a>
    <a class="item" routerLink="/roster/2017" [ngClass]="{'active': year === 2017}">2017</a>
    <a class="item" routerLink="/roster/2018" [ngClass]="{'active': year === 2018}">2018</a>
    <a class="item" routerLink="/roster/2019" [ngClass]="{'active': year === 2019}">2019</a>
</div>
<!--Table-->
<ng-container *ngFor="let rosterYear of rosterData">
    <ng-container *ngIf="rosterYear.year === year">
        <img src="{{rosterYear.imagePath}}"/>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of rosterYear.players">
                    <td>{{player.number}}</td>
                    <td>{{player.name}}</td>
                    <td>{{player.year}}</td>
                </tr>
            </tbody>
        </table>
        <p>(*) indicates captain for that year</p>
    </ng-container>
</ng-container>
