<!--Paypal Sidebar-->
<div class="ui segment paypal-sidebar">
    <h2 class="ui header">Help Out Illinois Ultimate!</h2>

    <p>Illinois Ultimate is mostly student-funded, help us out by donating!</p>
    <a href="https://www.paypal.me/illinoisUltimate" target="_blank">
        <img class="paypal-donate hvr-grow" src="../../../public/assets/images/page-frame/left-sidebar/paypal-donate.png"/>
    </a>
</div>
<!--Social Media Icons-->
<a href="https://twitter.com/Illinois_Rise" target="_blank">
    <img class="social-media-button hvr-sink" src="../../../public/assets/images/page-frame/left-sidebar/twitter-button.png"/>

</a>
<a href="https://www.instagram.com/illinois.rise/" target="_blank">
    <img class="social-media-button hvr-sink" src="../../../public/assets/images/page-frame/left-sidebar/instagram-button.png"/>
</a>
<a href="https://www.facebook.com/IllinoisUltimate" target="_blank">
    <img class="social-media-button hvr-sink" src="../../../public/assets/images/page-frame/left-sidebar/facebook-button.png"/>
</a>
