@import "../../shared-style/colors";
@import "../../shared-style/variables";

.paypal-sidebar {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.paypal-donate {
  width: 100px;
  margin: 1rem auto;
}
.paypal-header {
  margin-bottom: 0;
  font-family: @font-family--header;
  letter-spacing: 1px;
}
.social-media-button {
  width: 40%;
  max-width: 80px;
  display: inline-block;
  margin: 3px;
  border: 1px solid @illinois-blue;
  box-shadow: @box-shadow--semantic-segment;
}