@import "../../shared-style/colors";
@import "../../shared-style/variables";

.paypal-sidebar {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;

  p {
    text-indent: 0;
    margin-bottom: 0;
  }
}
.paypal-donate {
  width: 100px;
}
.ui.header {
  margin-bottom: 0;
}
.social-media-button {
  width: 40%;
  max-width: 70px;
  display: inline-block;
  margin: 3px;
  border: 1px solid @illinois-blue;
  box-shadow: @box-shadow--semantic-segment;
}