<h1 class="ui header">Contact Us</h1>
<p>For any communication directed at the entire program, particularly information regarding tournaments, please contact us at this email:</p>

<p class="program"><a href = "mailto: illiniulti@gmail.com">illiniulti@gmail.com</a></p>


<p>For any questions regarding practice or club details, feel free to contact any of the current captains:</p>

<p class="captain"><a href = "mailto: joeykennedy333@gmail.com">Joey Kennedy</a></p>
<p class="captain"><a href = "mailto: reidamartin@gmail.com">Reid Martin</a></p>
<p class="captain"><a href = "mailto: aruzzo2@illinois.edu">Anthony Ruzzo</a></p>
