<h1 class="ui header">Team History</h1>
<div class="ui secondary pointing menu">
    <div #1978dropdown class="ui dropdown item">
        1978-1986<i class="dropdown icon"></i>
        <div class="menu">
            <div routerLink="/history/1978" [routerLinkActive]="['active']" class="item">1978-1982</div>
            <div routerLink="/history/1983" [routerLinkActive]="['active']" class="item">1983-1984</div>
            <div routerLink="/history/1985" [routerLinkActive]="['active']" class="item">1985</div>
            <div routerLink="/history/1986" [routerLinkActive]="['active']" class="item">1986</div>
        </div>
    </div>
    <div #1994dropdown class="ui dropdown item">
        1994-1999<i class="dropdown icon"></i>
        <div class="menu">
            <div routerLink="/history/1994" [routerLinkActive]="['active']" class="item">1994</div>
            <div routerLink="/history/1995" [routerLinkActive]="['active']" class="item">1995</div>
            <div routerLink="/history/1996" [routerLinkActive]="['active']" class="item">1996</div>
            <div routerLink="/history/1997" [routerLinkActive]="['active']" class="item">1997</div>
            <div routerLink="/history/1998" [routerLinkActive]="['active']" class="item">1998</div>
            <div routerLink="/history/1999" [routerLinkActive]="['active']" class="item">1999</div>
        </div>
    </div>
    <div #2000dropdown class="ui dropdown item">
        2000-2009<i class="dropdown icon"></i>
        <div class="menu">
            <div routerLink="/history/2001" [routerLinkActive]="['active']" class="item">2001</div>
            <div routerLink="/history/2002" [routerLinkActive]="['active']" class="item">2002</div>
            <div routerLink="/history/2003" [routerLinkActive]="['active']" class="item">2003</div>
            <div routerLink="/history/2004" [routerLinkActive]="['active']" class="item">2004</div>
            <div routerLink="/history/2005" [routerLinkActive]="['active']" class="item">2005</div>
            <div routerLink="/history/2006" [routerLinkActive]="['active']" class="item">2006</div>
            <div routerLink="/history/2007" [routerLinkActive]="['active']" class="item">2007</div>
            <div routerLink="/history/2008" [routerLinkActive]="['active']" class="item">2008</div>
            <div routerLink="/history/2009" [routerLinkActive]="['active']" class="item">2009</div>
        </div>
    </div>
    <div #2010dropdown class="ui dropdown item">
        2010-2017<i class="dropdown icon"></i>
        <div class="menu">
            <div routerLink="/history/2010" [routerLinkActive]="['active']" class="item">2010</div>
            <div routerLink="/history/2011" [routerLinkActive]="['active']" class="item">2011</div>
            <div routerLink="/history/2012" [routerLinkActive]="['active']" class="item">2012</div>
            <div routerLink="/history/2013" [routerLinkActive]="['active']" class="item">2013</div>
            <div routerLink="/history/2014" [routerLinkActive]="['active']" class="item">2014</div>
            <div routerLink="/history/2015" [routerLinkActive]="['active']" class="item">2015</div>
            <div routerLink="/history/2016" [routerLinkActive]="['active']" class="item">2016</div>
            <div routerLink="/history/2017" [routerLinkActive]="['active']" class="item">2017</div>

        </div>
    </div>
    <div #2019dropdown class="ui dropdown item">
        2019-<i class="dropdown icon"></i>
        <div class="menu">
            <div routerLink="/history/2019" [routerLinkActive]="['active']" class="item">2019</div>
            <div routerLink="/history/2020" [routerLinkActive]="['active']" class="item">2020</div>
            <div routerLink="/history/2021" [routerLinkActive]="['active']" class="item">2021</div>
        </div>
    </div>
</div>
<h2 class="ui header">{{year}}</h2>
<ng-container *ngFor="let historyYear of historyData">
    <ng-container *ngIf="historyYear.year === year">
        <img *ngIf="historyYear.imagePath" src="{{historyYear.imagePath}}"/>
        <div class="summary" [innerHTML]="historyYear.summaryMarkup"></div>
    </ng-container>
</ng-container>
<!--Only show the previous and next button if they are within the bounds of our history summaries-->
<a *ngIf="year > 1978" routerLink="/history/{{year - 1}}"><i class="angle double left icon"></i></a>
<a *ngIf="year < 2017" routerLink="/history/{{year + 1}}"><i class="angle double right icon"></i></a>
