@import "../../shared-style/colors";
@import "../../shared-style/variables";
@import "../../shared-style/breakpoints";

img {
  width: 75%;
  border: 1px solid @illinois-blue;
  margin-bottom: 15px;
  border-radius: @border-radius--semantic-segment;
}
i {
  font-size: 2em;

  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
}
.summary {
  text-align: left;
  margin-bottom: 20px;
}
.ui.dropdown.item {
  width: 121px;
  height: 40px;

  .active, &:focus {
    border: 0;
  }
}