<h1 class="ui header">Team History</h1>
<div class="ui secondary pointing menu">
    <a class="item" routerLink="/history/2015" [ngClass]="{'active': year === 2015}">2015</a>
    <a class="item" routerLink="/history/2016" [ngClass]="{'active': year === 2016}">2016</a>
    <a class="item" routerLink="/history/2017" [ngClass]="{'active': year === 2017}">2017</a>
</div>
<h2 class="ui header">{{year}}</h2>
<ng-container *ngFor="let historyYear of historyData">
    <ng-container *ngIf="historyYear.year === year">
        <img src="{{historyYear.imagePath}}"/>
        <div class="summary" [innerHTML]="historyYear.summaryMarkup"></div>
    </ng-container>
</ng-container>
<a *ngIf="year > 1994" routerLink="/history/{{year - 1}}"><i class="angle double left icon"></i></a>
<a *ngIf="year < 2016" routerLink="/history/{{year + 1}}"><i class="angle double right icon"></i></a>