@import "../../shared-style/colors";

img {
  width: 75%;
  border: 1px solid @illinois-blue;
  margin-bottom: 15px;
}

i {
  font-size: 2em;

  &.right {
    float: right;
  }
  &.left {
    float: left;
  }
}
.summary {
  text-align: left;
  margin-bottom: 20px;
}