<!--Header/Menu-->
<div class="header">
    <div #mobileDropdown class="ui inline dropdown">
        <h1 class="header-text">Illinois Ultimate</h1>
        <i class="dropdown icon"></i>
        <div class="menu">
            <a routerLink="/home"               [routerLinkActive]="['active']" class="item"><i class="home icon"></i>Home</a>
            <a routerLink="/about"              [routerLinkActive]="['active']" class="item"><i class="info icon"></i>About Us</a>
            <a routerLink="/prospects"          [routerLinkActive]="['active']" class="item"><i class="child icon"></i>Prospective Players</a>
            <a routerLink="/practice"           [routerLinkActive]="['active']" class="item"><i class="soccer icon"></i>Practice</a>
            <a routerLink="/tournaments/2020"   [routerLinkActive]="['active']" class="item"><i class="calendar icon"></i>Tournaments</a>
            <a routerLink="/roster/2019"        [routerLinkActive]="['active']" class="item"><i class="ordered list icon"></i>Roster</a>
            <a routerLink="/absent"             [routerLinkActive]="['active']" class="item"><i class="remove icon"></i>Absent Form</a>
            <a routerLink="/history/2017"       [routerLinkActive]="['active']" class="item"><i class="undo icon"></i>Team History</a>
            <a routerLink="/awards"             [routerLinkActive]="['active']" class="item"><i class="trophy icon"></i>Awards</a>
            <a routerLink="/results"            [routerLinkActive]="['active']" class="item"><i class="archive icon"></i>Past Results</a>
            <a routerLink="/blog"               [routerLinkActive]="['active']" class="item"><i class="comment icon"></i>Blog</a>
            <a routerLink="/contact"            [routerLinkActive]="['active']" class="item"><i class="mail icon"></i>Contact Us</a>
        </div>
    </div>
</div>
