@import '../../shared-style/colors';
@import '../../shared-style/variables';
@import '../../shared-style/submit-button';

label {
    text-align: left;
}
.ui.form {
    width: 80%;
    margin: 0 auto;

    .ui.error.message,
    .ui.success.message {
        display: block;

        p {
            text-align: center;
        }
    }
}
.ui.selection.active.dropdown .menu,
.ui.search.selection.dropdown.active.visible,
.ui.selection.active.dropdown:hover {
    border-color: @illinois-orange;
}
.ui.dropdown {
    min-width: inherit;
}
