body {
    background-image: url('../../public/assets/images/global/background.jpg');
    font-family: 'Quattrocento', serif;
    text-align: center;
    overflow-y: scroll;
}
p {
    text-indent: 25px;
    padding: 10px;
}
a {
    color: #00004D;
}
a:hover {
    color: #ff6226;
}

input {
    font-family: 'Quattrocento', serif !important;
}

input:focus {
     border-color: #ff6226 !important;
}
.button {
    background-color: #ff6226 !important;
    color: white !important;
}
.required {
    color: #ff6226;
}

.ui.header {
    font-family: 'Oswald', sans-serif;
    color: #00004D;
    letter-spacing: 1px;
}
.ui.table tr, .ui.table td {
    text-align: center;
    border-top: 0;
}
.ui.secondary.pointing.menu {
    justify-content: center;
}
.ui.secondary.pointing.menu .item.active {
    border-color: #00004D;
}